@{
    ViewBag.Title = "ASY之api框架";
    Layout = "~/Views/_Layout.cshtml";
}

<div style="background:#ffffff;overflow:hidden;">
    <div class="item left rightboxline"><a href="/pinbor" target="_blank">[Route("{user}")](/pinbor)</a></div>
    <div class="item left rightboxline"><a href="/reg/policy" target="_blank">[Route("reg/{who}")](/reg/policy)</a></div>
    <div class="item left"><a href="/pinbor/info" target="_blank">[Route("{user}/{list}")](/pinbor/info)</a></div>
</div>