@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

<div id="mainPage">
    <div style="margin:5px;">
        <div class="left"><a href="/scroll" target="_blank">滚动翻页</a></div>
    </div>
</div>