@{
    ViewBag.Title = "ASY之web框架";
    Layout = "~/Views/_Layout.cshtml";
}

<div style="background:#ffffff;overflow:hidden;">
    <div class="item left rightboxline"><a href="/scroll" target="_blank">滚动翻页</a></div>
    <div class="item left rightboxline"><a href="/scroll" target="_blank">图片延迟加载</a></div>
    <div class="item left rightboxline"><a href="/scroll" target="_blank">ajax多文件上传</a></div>
    <div class="item left rightboxline"><a href="/scroll" target="_blank">网页截图</a></div>
    <div class="item left"><a href="/scroll" target="_blank">图片自定义旋转</a></div>
</div>